
/* 
header
*/
.header1 {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.logo1-left > img { 
    width: 5px;
}

/* main {
    width: 1000px;
} */

.navi{
  display: flex;
}

.navi > li {
    list-style: none;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #DA7297;
    margin: 5px;
}

.navi > li:hover {
    color: #fff;
    background: #667BC6;
    border: 2px solid #FFF;
  }



.navi > li > a {
    font-size: 100%;
    text-decoration: none;
    margin: 25px;
    padding: 20px;
    color: white;
}

/* .link1 {
    border: 2px solid #DA7297;
    border-radius: 0;
    background: #DA7297;
    margin: 10px;
  } */
  
/* .link1:hover {
    color: #fff;
    background: #000;
  } */


/* 
main
*/




.section0 {
  position: relative;
  width: auto;
  z-index: 0;
  margin: 10px 0;
}

.section0 li {
  position: absolute;
  padding: 20px;
  list-style: none;
}

.section0 .topcoment1 {
  font-size: 100%;
  top: 40%;
  left: 10px;
  font-weight: bold;
  color: black;
}
.section0 .topcoment2 {
  font-size: 500%;
  color: #ffffff;
  font-weight: bold;
  left: 10px;
  top: 45%;
}

.section0 img {
  width: 100%;
  border-radius: 50px;
	clip-path: path("M0 128Q0 96 32 96Q96 96 96 32Q96 0 128 0H10000V100000H0Z");
}

/* ------News------ */

.section1 {
    height: 100%;
    width: 100%;
    margin: 0 0 10px 0;

}

.section1 h1 {
  text-align: left;
  padding: 0 10%;
  color: #333;
  font-size: 200%;
}


.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #667BC6;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }


/* -----About Us----- */

.section2 {
  background-color: #FDFFD2;
  height: 50%;
  border-radius: 50px;
	clip-path: path("M0 128Q0 96 32 96Q96 96 96 32Q96 0 128 0H10000V100000H0Z");
  margin: 150px 0;
}

.section2-2 {
  padding: 20px;
}

.section2-2 h1 {
  text-align: left;
  margin: 0;
  color: #999;
  font-size: 400%;
  height: 100%;
  background: linear-gradient(transparent 90%, #FFB4C2 40%);
  
}

.section2-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 0 5px;
  margin: 0;
}

.section2-coment {
  padding: 0;
  list-style: none;
  font-size: 100%;
  height: 100%;
}

.picture2 {
  height: 100%;
}


.navi2 {
  width: 50%;
}


.navi2 > li {
  list-style: none;
  border: 1% solid #fff;
  border-radius: 50px;
  background:  #667BC6;
  margin: 5px;
}

.navi2 > li:hover {
  color: #fff;
  background: #DA7297;
  border: 2px solid #FFF;
}



.navi2 > li > a {
  font-size: 100%;
  text-decoration: none;
  color: white;
  margin: 25px;
  padding: 20px;

}


/* ------Careea------ */

.section3 {
  background-color: #FFB4C2;
  height: 50%;
  border-radius: 50px;
	clip-path: path("M0 128Q0 96 32 96Q96 96 96 32Q96 0 128 0H10000V100000H0Z");
  margin: 100px 0 25px 0;
}

.section3-2 {
  padding: 20px;
}

.section3-2 h1 {
  text-align: left;
  margin: 0;
  color: #999;
  font-size: 400%;
  height: 100%;
  background: linear-gradient(transparent 90%, #FDFFD2 40%);
}

.section3-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 504px;
  padding: 0 5px;
  margin: 0;
}

.section3-coment {
  padding: 0;
  list-style: none;
  font-size: 100%;
  height: 100%;
}

.picture3 {
  height: 100%;
}


.navi3 {
  width: 50%;
}


.navi3 > li {
  list-style: none;
  border: 1% solid #fff;
  border-radius: 50px;
  background:  #667BC6;
  margin: 5px;
}

.navi3 > li:hover {
  color: #fff;
  background: #DA7297;
  border: 2px solid #FFF;
}



.navi3 > li > a {
  font-size: 100%;
  text-decoration: none;
  color: white;
  margin: 25px;
  padding: 20px;

}


/* ---------------------------- */

.section4 {
  display: flex;
  margin: 50px 0;

}

.section4 img {
  margin: 0 30px;
}

.address {
  list-style: none;
}

.sns {
    list-style: none;
    display: flex;
    
}

.sns > li {
    display: inline-block;
    padding: 5%;
}

.sns > li:hover {
    animation: shake .5s;
}

@keyframes shake {
    0%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    40%{transform: rotate(15deg);}
    60%{transform: rotate(-15deg);}
    80%{transform: rotate(15deg);}
}

footer {
  text-align: center;
  background-color: #667BC6;
  color: white;
  padding: 2px 0;
  margin-top: 10px;
  font-size: 20px;
}


