
/* 
header
*/
.header1 {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.logo1-left > img { 
    width: 5px;
}

/* main {
    width: 1000px;
} */

.navi{
  display: flex;
}

.navi > li {
    list-style: none;
    border: 2px solid #DA7297;
    border-radius: 50px;
    background: #DA7297;
    margin: 5px;
}

.navi > li:hover {
    color: #fff;
    background: #667BC6;
    border: 2px solid #FFF;
  }



.navi > li > a {
    font-size: 25px;
    text-decoration: none;
    margin: 25px;
    padding: 20px;
    color: white;
}

/* .link1 {
    border: 2px solid #DA7297;
    border-radius: 0;
    background: #DA7297;
    margin: 10px;
  } */
  
/* .link1:hover {
    color: #fff;
    background: #000;
  } */


/* 
main
*/

.section0 {
  position: relative;
  width: auto;
  z-index: 0;
}
  
.section0 p {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 10em;
  font-family :Quicksand, sans-serif;
  top: 0;
  left: 0;
  height: 100%;
  }
  

.section0 img {
  width: 100%;
  clip-path: polygon(0 18%, 1% 15%, 7% 14%, 11% 15%, 15% 14%, 16% 10%, 15% 7%, 15% 1%, 18% 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 50px;
}

.section1 {
    height: 100%;
    width: 100%;
}

/* .section1 > img {
  width: 1000px;
} */

.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #667BC6;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }

.section2 {
  background-color: #FDFFD2;
  height: 500px;
  border-radius: 50px;
}


.section2-1 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.picture2 {
  height: 300px;
  width: 450px;
  border-radius: 50px;
  background-color: #667BC6;
}


.navi2 > li {
    list-style: none;
}

.navi2 {
}

.section3 {
  background-color: #FFB4C2;
  height: 500px;
  border-radius: 50px;
}


.section3-1 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.picture3 {
  height: 300px;
  width: 450px;
  border-radius: 50px;
  background-color: #667BC6;
}

.navi3 > li {
    list-style: none;
}









.navi-last{
    display: flex;
}

.navi-last > li {
    list-style: none;
    border: 2px solid #DA7297;
    border-radius:  70% 30% 70% 30% / 30% 70% 30% 70% ;
    background: #DA7297;
    margin: 10px;
}

.navi-last > li:hover {
    color: #fff;
    background: #667BC6;
    border: 2px solid #667BC6;
  }

.navi-last > li > a {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    margin: 25px;
    color: white;
}

.sns {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.sns > li {
    display: inline-block;
    padding: 1%;
}

.sns > li:hover {
    animation: shake .5s;
}

@keyframes shake {
    0%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    40%{transform: rotate(15deg);}
    60%{transform: rotate(-15deg);}
    80%{transform: rotate(15deg);}
}


